@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

h2  {
    font-size: 2.5em;
    font-weight: 300;
    color: #222222;
    letter-spacing: 3px;
    cursor: crosshair;
}

h2 span {
    transition: 1.5s;
}

h2:hover span:nth-child(1) {
    margin-right: 30px;
}

h2:hover span:nth-child(1):after {
    content:   " |"  ;
    transition: 1.5s;
}

h2:hover span:nth-child(2) {
    margin-left: 30px;
    color:red;
}

h2:hover span:nth-child(3) {
    margin-left: 30px;
}

h2:hover span:nth-child(3)::before {
    content:   " | "  ;
    transition: 1.5s;
}
h2:hover span {
    color:#fff;
    text-shadow:    0 0 10px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 90px #fff,
                    0 0 100px #fff,
}

}